body {
    background: #1e1e2e;
    color: #cdd6f4;
    font-family: Hack, monospace;
    font-size: 1rem;
    margin: auto;
    width: 50%;
}

h1 {
    font-size: 2em;
}

a {
    color: #89b4fa;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #cba6f7;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

ul {
    list-style: none;
}

.red {
    color: #f38ba8;
}

.yellow {
    color: #f9e2af;
}

.green {
    color: #a6e3a1;
}

.blue {
    color: #89b4fa;
}

.purple {
    color: #cba6f7;
}

.cyan {
    color: #89dceb;
}

.orange {
    color: #fab387;
}

.syntax {
    color: #a6adc8;
}

.subhead {
    font-size: 1.25em;
}

@media screen and (max-width: 1024px) {
    body {
        width: 75%;
    }
}

@media screen and (max-width: 600px) {
    body {
        padding-left: 5vw;
        width: 100%;
    }
}
